# Author : Samved Joshi

# IPL dataset analysis

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px

In [2]:
import ipywidgets as wid
from IPython.display import display

In [3]:
from ipywidgets import interact

Importing necessary packages

# Data Exploration

In [4]:
deliveries = pd.read_csv(r'C:\cpp\deliveries.csv')

In [5]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
deliveries.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000,179078.000000
mean,1802.252957,1.482952,10.162488,3.615587,0.000452,0.036721,0.004936,0.021136,0.004183,0.000056,1.246864,0.067032,1.313897
std,3472.322805,0.502074,5.677684,1.806966,0.021263,0.251161,0.116480,0.194908,0.070492,0.016709,1.608270,0.342553,1.605422
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,190.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,379.000000,1.000000,10.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,567.000000,2.000000,15.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,11415.000000,5.000000,20.000000,9.000000,1.000000,5.000000,4.000000,5.000000,5.000000,5.000000,7.000000,7.000000,10.000000

In [7]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [8]:
deliveries.dismissal_kind.value_counts()

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

In [9]:
deliveries.batting_team.value_counts()

Mumbai Indians                 22619
Kings XI Punjab                20931
Royal Challengers Bangalore    20908
Kolkata Knight Riders          20858
Chennai Super Kings            19762
Delhi Daredevils               18786
Rajasthan Royals               17292
Sunrisers Hyderabad            12908
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Delhi Capitals                  1909
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64

In [10]:
deliveries.bowling_team.value_counts()

Mumbai Indians                 22517
Royal Challengers Bangalore    21236
Kolkata Knight Riders          20940
Kings XI Punjab                20782
Chennai Super Kings            19556
Delhi Daredevils               18725
Rajasthan Royals               17382
Sunrisers Hyderabad            12779
Deccan Chargers                 9039
Pune Warriors                   5457
Gujarat Lions                   3545
Delhi Capitals                  1963
Rising Pune Supergiant          1928
Rising Pune Supergiants         1615
Kochi Tuskers Kerala            1614
Name: bowling_team, dtype: int64

In [11]:
matches = pd.read_csv(r'C:\cpp\matches.csv')

In [12]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [13]:
matches.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [14]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [15]:
matches.venue.value_counts()

Eden Gardens                                            77
M Chinnaswamy Stadium                                   73
Wankhede Stadium                                        73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Brabourne Stadium                                       11
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
Rajiv Gandhi Intl. Cricket Stadium                       8
M. A. Chidambaram Stadium                                8
New Wanderers Stadium                                    8
Newlands                                                 7
JSCA International Stadium Complex                       7
St George's Park                                         7
Barabati Stadium                                         7
Sheikh Zayed Stadium                                     7
Dubai International Cricket Stadium                      7
Feroz Shah Kotla Ground                                  7
M. Chinnaswamy Stadium                                   7
IS Bindra Stadium                                        7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
ACA-VDCA Stadium                                         2
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [16]:
matches.winner.value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [17]:
win=list(matches['winner'].unique())
win.pop(13)
win

['Sunrisers Hyderabad',
 'Rising Pune Supergiant',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Royal Challengers Bangalore',
 'Mumbai Indians',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Pune Warriors',
 'Kochi Tuskers Kerala',
 'Rising Pune Supergiants',
 'Delhi Capitals']

In [18]:
d=dict(matches['winner'].value_counts())

In [19]:
dict(matches[matches['season']==2015]['winner'].value_counts())

{'Chennai Super Kings': 10,
 'Mumbai Indians': 10,
 'Royal Challengers Bangalore': 8,
 'Kolkata Knight Riders': 7,
 'Rajasthan Royals': 7,
 'Sunrisers Hyderabad': 7,
 'Delhi Daredevils': 5,
 'Kings XI Punjab': 3}

# Total wins season wise

In [20]:
def select(season = 'All'):
    if season=='All':
        d=dict(matches['winner'].value_counts())
        display(px.bar(x=list(d.keys()),y=list(d.values())))
        
    else:
        d = dict(matches[matches['season']==int(season)]['winner'].value_counts())
        display(px.bar(x=list(d.keys()),y=list(d.values()),title='Number of wins season wise',labels=dict(x="Team", y="No. of wins")))

year = wid.Dropdown(
    options=list(matches.season.unique())+['All'],
    value='All',
    description='Year:',
)

interact(select,season=year)

interactive(children=(Dropdown(description='Year:', index=12, options=(2017, 2008, 2009, 2010, 2011, 2012, 201â€¦

# Top 10 wicket takers against specific teams

In [21]:
def bowl_selection(team):
    if team=='All':
        bowler_wickets = {}
        for i in deliveries.bowler.unique():
            bowler_wickets[i] = 0
            for j in deliveries[deliveries['bowler']==i]['player_dismissed']:
                if str(j) != 'nan':
                    bowler_wickets[i] = bowler_wickets[i] + 1
        bowler_wick = pd.DataFrame(index=bowler_wickets.keys(),columns=['wickets'],data=bowler_wickets.values())
        bowler_wick = bowler_wick.sort_values('wickets',ascending=False)
        display(px.bar(x=bowler_wick.head(10).index,y=bowler_wick.head(10)['wickets']))
        
    else:
        bowler_wickets = {}
        mod =  deliveries[deliveries['batting_team']==team]
        for i in mod.bowler.unique():
            bowler_wickets[i] = 0
            for j in mod[mod['bowler']==i]['player_dismissed']:
                if str(j) != 'nan':
                    bowler_wickets[i] = bowler_wickets[i] + 1
        bowler_wick = pd.DataFrame(index=bowler_wickets.keys(),columns=['wickets'],data=bowler_wickets.values())
        bowler_wick = bowler_wick.sort_values('wickets',ascending=False)
        display(px.bar(x=bowler_wick.head(10).index,y=bowler_wick.head(10)['wickets'],labels=dict(x="Bowler", y="Wickets")))

team = wid.Dropdown(
    options=list(deliveries.batting_team.unique())+['All'],
    value='All',
    description='Team',
)

interact(bowl_selection,team=team)

interactive(children=(Dropdown(description='Team', index=15, options=('Sunrisers Hyderabad', 'Royal Challengerâ€¦

# Top 10 MOM winners year wse

In [22]:
def mom_selection(bat_year='All'):
    if bat_year == 'All':
        mom_top10 = dict(matches.player_of_match.value_counts().sort_values(ascending=False)[0:10])
        display(px.bar(x=list(mom_top10.keys()),y=list(mom_top10.values())))
    else:
        mom_top10 = dict(matches[matches['season']==int(bat_year)].player_of_match.value_counts().sort_values(ascending=False)[0:10])
        display(px.bar(x=list(mom_top10.keys()),y=list(mom_top10.values()),labels=dict(x="Batsman", y="No. of MOM awards")))
        
bat_order = wid.Dropdown(
    options=list(matches.season.unique())+['All'],
    value='All',
    description='Year',
)

interact(mom_selection,bat_year=bat_order)

interactive(children=(Dropdown(description='Year', index=12, options=(2017, 2008, 2009, 2010, 2011, 2012, 2013â€¦

# Top 10 run scorers against specific teams

In [23]:
def bat_select(bowl_team='All'):
    if bowl_team =='All':
        data = deliveries.groupby('batsman').sum().sort_values('total_runs',ascending=False)[0:10]
        display(px.bar(x=data.index,y=data['total_runs']))
    else:
        data = deliveries[deliveries['bowling_team']==bowl_team].groupby('batsman').sum().sort_values('total_runs',ascending=False)[0:10]
        display(px.bar(x=data.index,y=data['total_runs'],labels=dict(x="Batsman", y="Runs scored")))
        
most_runs = wid.Dropdown(
    options=list(deliveries.batting_team.unique())+['All'],
    value='All',
    description='Team',
)

interact(bat_select,bowl_team=most_runs)

interactive(children=(Dropdown(description='Team', index=15, options=('Sunrisers Hyderabad', 'Royal Challengerâ€¦

# Match winning likelihood after winning the toss team wise

In [24]:
def toss_conversion(toss_team='All'):
    if toss_team == 'All':
        toss_win_conversion = {}
        toss_win_conversion['victory'] = 0
        toss_win_conversion['loss'] = 0
        for i in range(len(matches)):
            if matches.at[i,'winner'] == matches.at[i,'toss_winner']:
                toss_win_conversion['victory'] = toss_win_conversion['victory'] + 1
    
            else:
                toss_win_conversion['loss'] = toss_win_conversion['loss'] + 1
                
        display(px.pie(values=list(toss_win_conversion.values()), names=list(toss_win_conversion.keys()), title='Match result after toss is won')) 
                
    else:
        toss_win_conversion = {}
        toss_win_conversion['victory'] = 0
        toss_win_conversion['loss'] = 0
        team_match = matches[matches['toss_winner']==toss_team]
        for i in list(matches[matches['toss_winner']==toss_team].index):
            if team_match.at[i,'winner'] == team_match.at[i,'toss_winner']:
                toss_win_conversion['victory'] = toss_win_conversion['victory'] + 1
    
            else:
                toss_win_conversion['loss'] = toss_win_conversion['loss'] + 1
        
        display(px.pie(values=list(toss_win_conversion.values()), names=list(toss_win_conversion.keys()), title='Match result after toss is won')) 

win_rate = wid.Dropdown(
    options=list(deliveries.batting_team.unique())+['All'],
    value='All',
    description='Team',
)

interact(toss_conversion,toss_team=win_rate)

interactive(children=(Dropdown(description='Team', index=15, options=('Sunrisers Hyderabad', 'Royal Challengerâ€¦

# Victory likelihood on the basis for bat or field first

In [25]:
def win_form(win_mode):
    chase_var = {}
    chase_var['field'] = 0
    chase_var['bat'] = 0 
    for i in matches[matches['winner']==win_mode]['toss_decision']:
        if i=='field':
            chase_var['field']= chase_var['field'] + 1
        else:
            chase_var['bat'] = chase_var['bat'] + 1
    display(px.pie(values=list(chase_var.values()), names=list(chase_var.keys()), title='Victories')) 
    
    
chase_defend = wid.Dropdown(
    options=list(deliveries.batting_team.unique()),
    value='Mumbai Indians',
    description='Team',
)   
interact(win_form,win_mode=chase_defend)

interactive(children=(Dropdown(description='Team', index=2, options=('Sunrisers Hyderabad', 'Royal Challengersâ€¦

# Victory, top bowling and batting performer analysis for teams(venue wise)

In [26]:
def by_stadium(stadium,team_playing):
    win_lose = {}
    win_lose['victory'] = 0
    win_lose['defeat'] = 0
    for i in matches[(matches['venue']==stadium) & ((matches['team1']==team_playing) | (matches['team2']==team_playing))]['winner']:
        if i == team_playing:
            win_lose['victory'] += 1
        else:
            win_lose['defeat'] +=1
    
    id_for= list(matches[matches['venue']==stadium]['id'])
    
    for i in enumerate(id_for):
        if i[0]==0:
            select = deliveries[(deliveries['match_id']==i[1]) & (deliveries['batting_team']==team_playing)]
            new_select = select.copy()
        else:
            select = deliveries[(deliveries['match_id']==i[1]) & (deliveries['batting_team']==team_playing)]
            new_select = pd.concat([new_select,select])
    
    for i in enumerate(id_for):
        if i[0]==0:
            choose = deliveries[(deliveries['match_id']==i[1]) & (deliveries['bowling_team']==team_playing)]
            new_choose = choose.copy()
        else:
            choose = deliveries[(deliveries['match_id']==i[1]) & (deliveries['bowling_team']==team_playing)]
            new_choose = pd.concat([new_choose,choose])
            
    wicket_stack = {}
    for i in deliveries[deliveries['bowling_team']==team_playing].bowler.unique():
        wicket_stack[i] = 0
    
    new_choose = new_choose.reset_index()
    for i in range(len(new_choose)):
        if str(new_choose.at[i,'player_dismissed'])!='nan':
            wicket_stack[new_choose.at[i,'bowler']] +=1
    
    wickets_data = pd.DataFrame(index=list(wicket_stack.keys()),columns=['wickets'],data=list(wicket_stack.values()))
    display(px.pie(values=list(win_lose.values()), names=list(win_lose.keys()), title='Win rate')) 
    data_stadium = new_select.groupby('batsman').sum().sort_values('total_runs',ascending=False)[0:10]
    display(px.bar(x=data_stadium.index,y=data_stadium['total_runs'],labels=dict(x="Batsman", y="Runs scored")))
    display(px.bar(x=wickets_data.sort_values('wickets',ascending=False).index[:10],y=wickets_data.sort_values('wickets',ascending=False)['wickets'][:10],labels=dict(x="Bowler", y="Wickets")))

chase_ground = wid.Dropdown(
    options=list(deliveries.batting_team.unique()),
    value='Mumbai Indians',
    description='Team',
)
venue_ground = wid.Dropdown(
    options=list(matches.venue.unique()),
    value='M Chinnaswamy Stadium',
    description='Venue',
)
interact(by_stadium,stadium=venue_ground,team_playing=chase_ground)

interactive(children=(Dropdown(description='Venue', index=4, options=('Rajiv Gandhi International Stadium, Uppâ€¦

# Mode of getting out for specific batsman

In [27]:
def out_kind(player_kind):
    out_dict = {}
        
    out_group = deliveries[deliveries['batsman']==player_kind]
    for i in out_group.dismissal_kind.unique():
        out_dict[i] = 0
        
    for i in out_group['dismissal_kind']:
        if str(i) != 'nan':
            out_dict[i] += 1
    
    kind_data = pd.DataFrame(index=list(out_dict.keys()),columns=['count'],data=list(out_dict.values())).sort_values('count',ascending=False)
    display(px.bar(x=kind_data.index,y=kind_data['count'],title='Dismissal kind'))  
    
    
player_outkind = wid.Dropdown(
    options=list(deliveries.batsman.unique()),
    value='KA Pollard',
    description='Batsman',
)
interact(out_kind,player_kind=player_outkind)

interactive(children=(Dropdown(description='Batsman', index=23, options=('DA Warner', 'S Dhawan', 'MC Henriqueâ€¦

# Total runs by batsmen over wise

In [28]:
def over_batsman(batsman_name):
    over_data = deliveries[deliveries['batsman']==batsman_name].groupby('over').sum()
    display(px.line(x=over_data.index,y=over_data['total_runs'], title='Run distribution by over',labels=dict(x="Overs", y="Net runs scored")))
    
batsman_over = wid.Dropdown(
    options=list(deliveries.batsman.unique()),
    value='KA Pollard',
    description='Batsman',
)
interact(over_batsman,batsman_name=batsman_over)

interactive(children=(Dropdown(description='Batsman', index=23, options=('DA Warner', 'S Dhawan', 'MC Henriqueâ€¦

# Wickets bagged by bowlers over wise

In [29]:
def over_bowler(bowler_name):
    bowler_data = deliveries[deliveries['bowler']==bowler_name]
    bowler_over = {}
    for i in range(1,21):
        bowler_over[i] = 0
        
    for i in bowler_data.over.unique():
        tdata = bowler_data[bowler_data['over']==i]
        Sum = 0
        for j in tdata['player_dismissed']:
            if str(j)!='nan':
                Sum += 1
        bowler_over[i] = Sum    
    display(display(px.line(x=list(bowler_over.keys()),y=list(bowler_over.values()), title='Wicket distribution by over',labels=dict(x="Overs", y="Net wickets taken"))))   
    
    
bowler_list = wid.Dropdown(
    options=list(deliveries.bowler.unique()),
    value='SL Malinga',
    description='Bowler',
)
interact(over_bowler,bowler_name=bowler_list)

interactive(children=(Dropdown(description='Bowler', index=58, options=('TS Mills', 'A Choudhary', 'YS Chahal'â€¦

# Batsmen getting out(over wise distribution)

In [30]:
def batsman_out(out_batname):
    new_out = {}
    for i in range(1,21):
        new_out[i] = 0
    
    bat_data = deliveries[deliveries['player_dismissed']==out_batname]
    for i in bat_data['over']:
        new_out[i] += 1
    display(px.bar(x=list(new_out.keys()),y=list(new_out.values()),labels=dict(x="Overs", y="Wicket count")))
    
batsman_out_list = wid.Dropdown(
    options=list(deliveries.batsman.unique()),
    value='SL Malinga',
    description='Batsman',
)
interact(batsman_out,out_batname=batsman_out_list)

interactive(children=(Dropdown(description='Batsman', index=129, options=('DA Warner', 'S Dhawan', 'MC Henriquâ€¦

# Conclusions:

Mumbai Indians is the most successful teams overall. They have won most number of matches and also have won the trophy maximum number of times. Chennai Super Kings is right behind them with an impressive record as well.

Suresh Raina is the most successful batsman overall and has highest number of IPL runs. Second best performer is Virat Kohli.

Lasith Malinga is the most successful bowler with a whooping figure of 188 wickets. He has performed brilliantly throughout the course of the IPL against Chennai Super Kings with more than 33 wickets just against them.

Chris Gayle, followed by AB Devilliers have won the most number of man of the match awards

The probability of winning a particular match after winning the toss is around 52%

In a generic sense, likeliness of winning a game is more for the team that is chasing. Like for MI,the most successful team, there's a 59% chance of victory if they field first

Mode of dismissal has mostly been catch out by far, followed by bowled and then subsequently others

Openers score majority of their runs in the first 5 overs, while tail enders like Pollard, Dhoni have made most of their runs in the IPL in the overs 16-20.

Most of the quality fast bowlers have got more wickets during the death overs than any other phase of the innings. Whereas spinners have been more handy during the middle overs since they have majority of their wickets in the middle overs, generally speaking.